@addTagHelper *, LazZiya.TagHelpers
@using Store_Application.Services.Product.Queries.GetProductForSite;
@model ResultProductForSiteDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageNumber = 1;
    int PageSize = 20;
    int.TryParse(Context.Request.Query["Page"], out PageNumber);
    int.TryParse(Context.Request.Query["PageSize"], out PageSize);
}

<!--  = Featured Items =  -->
<div class="row featured-items blocks-spacer">
    <div class="span12">
        <!--  = Title =  -->
        <div class="main-titles lined">
            <h2 class="title"><span class="light">محصولات</span></h2>
            <div class="arrows">
                <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
            </div>
        </div>
    </div>


    <div class="span12">
        <div class="shop-archive-content mt-3 d-block">
            <div class="archive-header">
                @*<h2 class="archive-header-title">آرشیو محصولات</h2>*@
                <div class="sort-tabs mt-0 d-inline-block pr">
                    <h4>مرتب&zwnj;سازی بر اساس :</h4>
                </div>

                <div class="navbar navbar-static-top" id="stickyNavbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="row">
                                <div class="span9">
                                    <div class="nav-collapse collapse">
                                        <ul class="nav" id="mainNavigation">

                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=MostVisited" role="tab" aria-controls="Most-visited" aria-selected="true">پربازدیدترین</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=Bestselling" role="tab" aria-controls="Bestselling" aria-selected="false">پرفروش&zwnj;ترین&zwnj;</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=Most-Popular" role="tab" aria-controls="Most-Popular" aria-selected="false">محبوب&zwnj;ترین</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=newest" role="tab" aria-controls="newest" aria-selected="false">جدیدترین</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=cheapest" role="tab" aria-controls="cheapest" aria-selected="false">ارزان&zwnj;ترین</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-toggle" href="~/Products?Searchkey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&ordering=most-expensive" role="tab" aria-controls="most-expensive" aria-selected="false">گران&zwnj;ترین</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  = Carousel =  -->
            @*    <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">*@
            @*   <div class="slide">
            <div class="row">*@
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                    <div class="row">
                        <!--  = Product =  -->
                        @foreach (var item in @Model.Products)
                        {
                            <div class="span4">
                                <div class="product">
                                    <div class="product-img featured">
                                        <div class="picture">
                                            <img src="~/@item.ImageSrc" />
                                            <div class="img-overlay">
                                                <a href="~/Products/Detail/@item.Id" class="btn more btn-primary">توضیحات بیشتر</a>
                                                <a href="~/Cart/AddToCart?ProductId=@item.Id" class="btn buy btn-danger">خرید</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-titles">
                                        <h4 class="title">@item.Title</h4>
                                        <h5 class="no-margin">@item.Price.ToString("n0")</h5>
                                        <span>تومان</span>
                                    </div>
                                    @*  <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>*@
                                    <p class="center-align stars">


                                        @for (int i = 1; i <= item.Star; i++)
                                        {
                                            <span class="icon-star stars-clr"></span>
                                        }
                                        @for (int i = 1; i <= (5 - item.Star); i++)
                                        {
                                            <span class="icon-star"></span>
                                        }
                                    </p>
                                </div>
                            </div>
                        }<!-- /product -->
                    </div>
                </div>
            </div>
        </div> <!-- /carousel -->
    </div>

</div> <!-- /container -->
<div class="text-center">
        <paging total-records="@Model.TotalRow"
                page-no="@PageNumber==0?1:PageNumber"
                page-size="@PageSize==0?20:PageSize"
                show-prev-next="true"
                show-total-pages="false"
                show-total-records="false"
                show-page-size-nav="true"
                show-first-numbered-page="true"
                show-last-numbered-page="true"
                query-string-key-page-no="Page"
                query-string-key-page-size="PageSize"
                query-string-value="@@(Request.QueryString.Value)"
                gap-size="2">
        </paging>
</div>

